node_modules/

src/modules/*
!src/modules/template

src/modules/template/package-lock.json

src/config/main.json
src/config/options.json
src/config/defaults.json
src/config/colors.json
src/config/data.json

rethink/
!rethink/rethinkdb.exe

bot.json
package-lock.json